In [3]:
import pandas as pd
I = 1000
P1 = 0.4 * 0.5
P2 = 0.4 * 0.5
P3 = 0.6 * 0.5
P4 = 0.6 * 0.5
VAN1 = -I + 1500/(1.1) + 1600/(1.1)**2
VAN2 = -I + 1500/(1.1) + 1200/(1.1)**2
VAN3 = -I + 1000/(1.1) + 1400/(1.1)**2
VAN4 = -I + 1000/(1.1) + 900/(1.1)**2
data = {'Si': ['S1', 'S2', 'S3', 'S4'],
        'Pi': [P1, P2, P3, P4],
        'VANi': [VAN1, VAN2, VAN3, VAN4]}
df = pd.DataFrame(data)
df

   Si   Pi         VANi
0  S1  0.2  1685.950413
1  S2  0.2  1355.371901
2  S3  0.3  1066.115702
3  S4  0.3   652.892562

In [4]:
evan = (df['Pi'] * df['VANi']).sum()
evan

1123.9669421487602

In [5]:
varvan = (df['Pi'] * (df['VANi'] - evan)**2).sum()
varvan

141452.08660610614

In [6]:
import math

sqrt_va:rvan = math.sqrt(varvan)
sqrt_varvan

376.1011653878596